article.community-task.completed{
  background:#ffffff url('completed.png') no-repeat center top;
  vertical-align: top;
}

article.community-task.open{
  background:#ffffff url('open.png') no-repeat center top;
  vertical-align: top;
}

article.community-task.committed{
  background:#ffffff url('committed.png') no-repeat center top;
  vertical-align: top;
}

article.community-task div.ctaskstatus{
  float: right;
}
