{#
/**
 * $quantity = a context sensitive form allowing the current user to change the state of the task
 */
#}
<!-- community-tasks_completed.html.twig -->
  <div class="community-tasks-completed">
    {% trans %}
      {{ quantity }} tasks completed.
    {% endtrans %}
  </div>
<!-- end community_tasks_completed.html.twig -->