{#
/**
 * node template
 * available variables, as with node.tpl.php, but also
 * $button = a context sensitive form allowing the current user to change the state of the task
 * $description = a brief description of the state of the task.
 * @todo this isn't used consider removing file
 */
#}
<!-- start community-task-state.tpl.php -->
  {{ form }}
<!-- end node-community_task.tpl.php -->